<html>
  <head></head>
  <body>
    <p>
      Guess a number!
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

<html>
  <head></head>
  <body>
    <p>
      Your response was <%= @@message %>
    </p>
  </body>
</html>
